<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1013405526584-biikm36vbitunn6dbnf6shpdie63qfnc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAgYmU2UrspzM2smhM0j8nDXolVLhdSjA0</string>
	<key>GCM_SENDER_ID</key>
	<string>1013405526584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notifyHome</string>
	<key>PROJECT_ID</key>
	<string>mantenimientogeneral-500fe</string>
	<key>STORAGE_BUCKET</key>
	<string>mantenimientogeneral-500fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013405526584:ios:093d8cd4cd757b2f1154cd</string>
</dict>
</plist>